/AlgorXSolver.class
/BackTrackingSolver.class
/DancingLinksSolver.class
/KillerAdvancedSolver.class
/KillerBackTrackingSolver.class
/KillerSudokuSolver.class
/StdSudokuSolver.class
/SudokuSolver.class
