/AlgorXSolver.class
/BackTrackingSolver.class
/DancingLinksSolver.class
/KillerAdvancedSolver.class
/KillerBackTrackingSolver.class
/KillerSudokuSolver.class
/StdSudokuSolver.class
/SudokuSolver.class
/BackTrackingSolver$1.class
/Node.class
/ColumnNode.class
/BackTrackingSolverOld.class
